{{!-- meta tags for all pages --}}
<title>{{ this.title }}</title>
<meta property="og:title" content="{{ this.title }}">

{{!-- conditional meta tags --}}
{{#if_eq this.path "/home"}} 
	<meta property="og:url" content="/physicians">
	{{!-- <meta property="og:image" content="/logo.png"> --}}
	<meta property="og:description" content="Accessible Health is ....">
{{/if_eq}}

{{!-- list all physicians --}}
{{#if_eq this.path "/physicians"}} 
	<meta property="og:url" content="/physicians">
	<meta property="og:image" content="/logo.png">
	<meta property="og:description" content="View all physicians">
{{/if_eq}}

{{!-- list all physicians --}}
{{#if_eq this.path "/physicians/:urlpath"}}
	<meta property="og:image" content="{{ this.physician.profilepic }}">
	<meta property="og:description" content="{{ this.physician.description }}">
{{/if_eq}}