<div class="picture">

<h1>Accessible Care</h1>

<h3>Here to meet your healthcare needs</h3>


</div>
<div>
 <h3>About Us</h3>
<p class="aboutText">Accessible care began with a small group of local physicians looking for a better way to provide free healthcare services to the underserved populations in their community.  Running a full-time practice made it difficult to volunteer outside of their daily scope of work, so they decided to use their own offices as places to provide free services.  But then they were faced with the problem of coordination.  How would they find patients to see and how would patients that needed services find them?  That’s when Accessible Care was born.  These physicians came together and established their very own non-profit entity and got the word out.  They immediately saw their network grow as more and more physicians signed up to volunteer.  Today, the network covers the entire central florida region and includes multiple specialties.  Patients are able to receive excellent, specialized care to meet their specific healthcare needs.  Available specialties include: Internal Medicine, OBGYN, Pediatrics, Cardiology, Orthopedics, Dermatology, Gastroenterology and more!<br>
 <br>

We hope to add ancillary services in the near future.  Once added to the network, our physicians will be able to coordinate so eligible patients can have diagnostic testing, pathology and lab work done with no cost to them.  We will be sure to update this as information becomes available, so continue to check back with us.<br>
 <br>

Thank you to all of our volunteers that make what we do possible.  We look forward to continue providing essential healthcare services to central Florida’s underserved communities for many years to come. <br>
 <br>

If you are a physician and would like to become part of our network, please sign up here.
<br>
 <br>
If you are a patient and would like to search for a provider and reserve an appointment time, please click here to sign in.</p>

</div>