<div class="container">
 <div class="row">
  <div class="col-md-12">
   <h1>{{title}}</h1>

   <p style="text-align: justify; padding: 30px;">

At Accessible Care we connect eligible patients with physicians that donate their time and services to meet the healthcare needs of those patients.  Our network of volunteer physicians covers the entire central florida area and includes various specialties.  

<br>
<br>

Please call us at 800-555-1234 to schedule an appointment with one of our case managers, during which eligibility will be determined.  Once approved, you will have the ability to create a profile here and reserve an available appointment with your choice of physician.  Your case manager will give you your username and temporary password to sign in.   

<br>
<br>

We look forward to serving you.

<br>
<br>

If you would like to see physicians that are a part of our network, please <a href="/physicians">click here.</a>

<br>
<br>

</p>

<img src="/assets/img/BPCheck2.jpg" class="img-circle">
<img src="/assets/img/PulseCheck1.jpg" class="img-circle">
<img src="/assets/img/EarCheck.jpg" class="img-circle">
<img src="/assets/img/HeartCheck.jpg" class="img-circle">
{{!--<img src="/assets/img/BPCheck1.jpg" class="img-circle">--}}

  </div>
 </div>
</div>
