.picture {
	background-image: url("../img/Stethoscope.jpg");
	background-repeat: no-repeat;
	height: 600px;
	width: 100%;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-size: 24px;
	color: white;
}

.navbar-brand {
	font-size: 40px;
	font-family: 'Orbitron', sans-serif;
}

#login {
	text-align: center;
	width: 450px;
	height: 300px;
	margin: 0 auto;
}

img {
	width: 200px;
	height: 250px;
	padding: 15px;
	margin: 20px;
	float: left;
}

#physicianProfile {
	width: 750px;
	padding: 20px;
	margin: 0 auto;
}

#aboutUs {
	text-align: justify;
	font-size: 18px;
	margin: 20px;
	padding: 10px;
	border: 5px;
	border-style: solid;
}

#footer {
	position: relative;
	margin-top: 20px;
	/*margin-top: -75px;
	height: 75px;*/
	clear: both;
	padding: 10px;
	border-top: 2px solid #18bc9c;
}

.aboutText {
	font-size: 16px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	;
}

.profile-pic {
	width: auto;
	float: left;
}

.availForm {
	width: 100px;
	margin: 0 auto
}


/*font-family: 'Pacifico', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Yellowtail', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Kumar One Outline', cursive;
font-family: 'Vast Shadow', cursive;
font-family: 'Wallpoet', cursive;
font-family: 'Diplomata', cursive;*/